@model IEnumerable<Day3.ViewModels.RoleVM>

@{
    ViewData["Title"] = "Index";
}

<section>
    <p>
        <h2>Roles</h2>
        <a asp-action="Create">Create New Role</a>
    </p>
    <table class="table table-responsive-sm">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
