html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
    box-sizing:inherit;
}

html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
}

body {
    margin-bottom: 60px;
}

nav, footer {
    background-color: #198754;
}

main {
    display: flex;
    justify-content: center;

}


h1, h2, h3 {
    color: #198754;
    display: flex;
    justify-content: center;
}
a, th {
    color: #198754;
}

.main {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    padding: 20px;
}

section {
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
}

.g-recaptcha{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}



th {
    color: #198754;
}

th, td {
    text-align: center;
}
footer {
    text-align: center;
}


.btn {
    background-color: #198754;
    color: white;
}
.add-cart {
    width: 150px;
    margin-bottom: 5px;
}

.remove-cart {
    width: 150px;
    background-color: gray;
 
}